.root {
  padding-top: 30px;

  .list {
    margin-top: 20px;

    .item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      .button {
        color: red;
        margin-left: 4px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}